*{
    margin: 0;
    padding: 0;
}

body{
    font-family: "Poppins", sans-serif;
    background-color: rgb(255, 255, 255);
}
.container{
    width: 90%;
    margin: 100px auto;
}

nav{
    background-color: #f9ece6;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: px 50px;
 
}
nav .nav-right ul .active{
    background-color: gold;


}
nav .nav-right ul{
    list-style: none;
    display: flex;
    gap:30px;
   padding: 60px;
}
nav .nav-right  a{
    text-decoration: none;
    color: rgb(11, 9, 9);
    font-size: 25px;
    padding: 10px;
    transition: 0.5s;
    /* font-weight: bold; */
}
nav .nav-right  a:hover{
    background-color: gray;

}

nav .nav-left img{
    width: 30%;
  
    
}

.head{
    display: flex;
    width: 100%;
     margin-top: 0%;
}
.left {
    background-color: rgb(235, 187, 29);
 color: #fff;
 width: 100%;  
  
 
}   
.left h2{
   margin-left: 40px;
   margin-top: 100px;
    font-size: 35px;
}
.left h3{
    margin-left: 40px;
    padding: 10px;
    font-size: 35px;
}
.left p{
    margin-left: 40px;
    padding: 10px;
    display: flex;
    font-size: 20px;
    width: 55%;
    line-height: 1.5;
    
}
.left div button{
    margin-left: 60px;
    padding: 10px;
    border-radius: 5%;
    width: 150px;
    cursor: pointer;
    font-size: 18px;
    transition: 0.5s;
     background-color: transparent;
     border: solid 1px;
     color: #fff;

}
.left div button:hover{
    transform: scale(1.1);
    background-color:rgb(222, 165, 67);

}
.left div i {
    font-size: 25px;
    position: absolute;
   left: 178px;
   top: 64%;
    color:rgb(255, 255, 255);
}
.product{
    margin-top: 4%;
   
}
.product h2{
    text-align: center;
    
}
  
 .perant{
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
 }
 .card{
        width: 24%;
    position: relative;

 }
 .card img{
    width: 100%;
 }
 .card p{
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 10px;
    margin-top: 10px;
 }
 .card button{
    font-size: 15px;
    padding: 10px;
    margin-top: 10px;
    background-color: rgb(234, 146, 59);
    
    transition: 1.5s;
    cursor: pointer;
 }
 .card button:hover{
    transform:rotate(360deg);
    
 }

 .smarts{
    display: flex
 }
 .smart-left{
    width: 100%;
 }

 .smart-left img{
    width: 100%;
    
   
 }
 .smart-right{
    width: 100%;
    margin-top: 90px; 
    margin-left: 60px;
 }
 .smart-right p{
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 20px;
   
 }
 .smart-right button{
    font-size: 15px;
    background-color: rgb(223, 147, 59);
    padding: 10px;
    transition: 0.5s;
    cursor: pointer;
 }
 .smart-right button:hover{
    transform: scale(1.1);
 }


 .a{
    text-align: center;
    margin-top: 30px;
    font-size: 40px;
 }


 .testimonails-flex{
    display: flex;
    justify-content: center;
    gap: 10px;
 }
 .testimonails .h{
    text-align: center;
    margin-bottom: 40px;
    
 }
 .testimonail{
    background-color: #eee;
    padding: 15px;
    width: 30%;
    text-align: center;
 }
 .testimonail  > *{
    margin-top: 20px;
 }
 .testimonail img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
 }
 .testimonail p{
    line-height: 1.5;
 }
 .testimonail div i{
    color:gold;
 }
 .testimonail  h3{
    color: #db4566;
 }



 .Contacts{
    display: flex;
    gap: 10px;
 }
 .right-con{
    width: 100%;
 }
.right-con form input{
    width: 80%;
    padding: 15px;
    margin-top: 20px;
    outline: none;

}
.right-con form textarea{
    width: 80%;
    padding: 15px;
    margin-top: 20px;
    outline: none;
}
.right-con form button{
    padding: 10px;
    display: block;
    margin-top: 30px;
    font-size: 18px;
    width: 200px;
    cursor: pointer;
    background-color: rgb(234, 132, 58);
    font-weight: bold;
    transition: 0.5s;
    margin-left: 25%;
}
.right-con form button:hover{
    transform: scale(1.1);
}

.left-map{
    width: 100%;
}


footer{

background-color: #000;
    color: #fff;
    padding: 20px;
    
}
.perantss{
   
    display: flex;
  width: 100%;
    gap: 250px;
 justify-content: space-around;
padding: 10px;  


}
.perantsss{
    width: 24%;
    position: relative;

}
.perantsss img{
    width: 100%;
   
    margin-bottom: 10px;
    

        
}
.perantsss h2{
    font-size: 30px;
    margin-bottom: 20px;
    color: rgb(241, 239, 236);
}
.perantsss p{
    font-size: 18px;
    line-height: 1.7;
    margin-left: 20px;
    color: rgb(220, 111, 33);
    cursor: pointer;
    
}
.foot{
    font-size: 20px;
    padding: 30px;
    text-align: center;
    
}


@media screen and (max-width : 480px ) {

    nav{
        padding: 20px;
    }
    nav .nav-right ul{
        display: none;
    }
    .nav-right  menu{
        display: block;
        
    }
    .head {
        flex-direction: column;
        }
        .left{
            padding-left: 0px;
            padding-top: 20px;
        }
       .left h2,h3 {
            font-size: 25px;
            text-align: center;
            color: #fff;
          }
          .left p{
            width: 80%;
            margin: 20px auto;
          }
          .left div button{
            padding: 10px;
        border: none;
        font-size: 18px;
        cursor: pointer;
        background: transparent;
        border: 1px solid #db4566;
        color: #fff;
        width: 150px;
        transition: 0.5s;
        display: block;
        margin: 20px auto;
          }
          .product h2{
            font-size: 30px;
            text-align: center;
            margin-bottom: 100px;
          }
          .perant{
            display: flex;
            flex-wrap: wrap;
            gap: 10px;
            flex-direction: column;
          }
          .card{
            
            background-color: #eee;
            width: 100%;
           padding: 0px;
          }
          .card img{
            width: 100%;
            height: 200px;
            
          }
          .card p{
            font-size: 18px;
           text-align: center;
        
          }
        
          .testimonails-flex
          {
            display: flex;
            flex-direction: column;
          }
          .testimonail{
          width: 80%;
          }
          .testimonail img{
            width: 200px;
            height: 100px;
          }
          .Contacts{
            display: flex;
            flex-direction: column;
           margin-top: 5px;
           margin-bottom: 10px;
          }
          .right-con{
        width: 100%;
          }
          .left-map iframe{
            width: 100%;
           margin-bottom: 10px;
          }
          .perantss{
            display: flex;
            flex-direction: column;
            text-align: center;
            gap: 20px;
          }
        .perantsss{
            width: 100%;
            text-align: center;
          }
        }
           
          
       

        








    
    



    
    



   